// This file contains CSS rules for this theme that aren't covered by Bootstrap, such as additional Tiki theme properties.
// To do: Use variables for global Tiki properties and customize a Tiki variables file per-theme.

// navbars with too many items overflows the container
.navbar-expand .navbar-nav {
    flex-wrap: wrap;
}

@include media-breakpoint-up(lg) {
    .navbar-expand-lg .navbar-nav {
        flex-wrap: wrap;
    }
}

// Prevent wrapping in tight admin navbars
.tiki-admin .nav-item {
    margin-right: 1rem;
}

// Increase height to compensate for theme's extra padding
.tiki .select2-container--bootstrap-5 .select2-selection {
    min-height: calc(2.2em + 0.75rem + 2px);
    border-radius: 0 !important;
}
